* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vh;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    display: flex;
    background-color: rgb(157, 233, 233);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(58, 78, 78);
    color: white;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
}

main {
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

footer {
   background-color: rgb(58, 78, 78);
   color: white;
   padding: 1rem 0;
   font-weight: 0.9rem;
   width: 100%;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 33%);
    width: 100%;
    padding: 10px;
    gap: 5px;
}

.templates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: 0.7px solid rgb(149, 210, 210);
    width: 75%;
}

.img {
    height: 80%;
    width: 70%;
}

.boton {
    background-color: rgb(58, 78, 78);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 1rem;
    border-radius: 5px;
    margin-top: 9px;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
}

.boton:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.imagenes {
    display: flex; 
    justify-content: center; 
    gap: 5px; 
    margin-top: 10px;
}

.html {
    height: 35px;
    width: 35px;
}

.css {
    height: 35px;
    width: 35px;
}

.js {
    height: 35px;
    width: 35px;
}

.goku {
    position: absolute;
    top: 43px;
    left: 30px;
    width: 30px;
    height: 42px;
    opacity: 0; 
    transform: scale(0.8);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.goku:hover {
    opacity: 1;
    transform: scale(3.1);
}