* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; 
    background-color: #F9F9F9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #FF0000;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

header img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.logo {
    display: flex;
    text-align: center;
    align-items: center;
}

.buscador {
    display: flex;
    text-align: center;
    align-items: center;
}

.buscador img {
    width: 90%;
    height: 90%;
    align-items: center;
}

.buscador input {
    padding: 5px;
    font-size: 1em;
    width: 300px;
    border: solid 1px;
    border-color: #CCC;
    border-radius: 2px;
}

.buscador button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: solid 1px;
    border-color: #CCC;
    border-radius: 2px;
    margin-left: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.buscador button:hover {
    background-color: #F1F1F1;
    border-color: #BBB;
}

footer {
    background-color: #FF0000;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.menu-navegacion {
    background-color: #F1F1F1;
    padding: 20px;
    width: 20%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.menu-navegacion ul {
    list-style-type: none;
    padding: 0;
}

.menu-navegacion li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.menu-navegacion img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu-navegacion a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.contenedor {
    flex: 1;
    width: 80%;
    padding: 20px;
}

.video-card {
    background-color: #FFF;
    border: solid 1px;
    border-color: #DDD;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.video-card h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #444;
}

.video-card p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.video-card video {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px;
    border-radius: 5px;
}

.video-card iframe {
    display: block;
    width: 100%;
    max-width: 500px;
    height: 250px;
    margin: 0 auto 10px;
    border-radius: 5px;
}

.audio-card {
    background-color: #FFF;
    border: solid 1px;
    border-color: #DDD;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.audio-card h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #444;
}

.audio-card audio {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px;
    border-radius: 5px;
}