* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vh;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

main {
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

header {
    background-color: #E94C2C;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
}

footer {
    background-color: #E94C2C;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-weight: 0.9rem;
    width: 100%;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: auto;
    margin-bottom: 1rem;;
}

.boton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover {
    background-color: #0056B3;
    cursor: pointer;
}

.boton:disabled {
    background-color: #CCC;
    cursor: none;
}

.caja-chiste {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #DDD;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 50px;
}

.categorias {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #DDD;
}